header {
  margin-block: 2rem;
  padding: 2rem 1rem;
}
.menu {
  background-color: #cd853f;
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-items: end;
  margin: 0 auto;
}

.menu-itens {
  display: flex;
  gap: 2rem;
  padding: 1.25rem 1rem;
}
/*
@media (max-width: 43.75rem) {
  header {
    margin-inline: 0rem;
  }
}

@media (max-width: 20rem) {
  .menu-itens {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.8rem;
  }
}
