.texto {
  padding: 0 2rem;
}

.texto h2 {
  margin-left: 3.1rem;
  margin-bottom: 1rem;
  position: relative;
}

.texto h2:before {
  content: "";
  width: 2.5rem;
  height: 0.7rem;
  background-color: peru;
  display: block;
  position: absolute;
  top: 0.25rem;
  left: -3.1rem;
}
.texto-itens {
  display: grid;
  gap: 1rem;
}
